/* 
#EAE7DC crema
#D8C3A5 light marron
#8E8D8A grey
#E98074 light red
#E85A4F red
*/

body {
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    color: red;
    /* color: #3e4855; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider-container {
    transition: all 300ms;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    background-color: #eae7dc;
}

/* =================================== */
/* Styles for App Bar                  */
/*==================================== */

.app-bar-box {
    height: 80px;
}

.app-bar {
    background: red;
    box-shadow: none;
}

.hamburguer-menu {
    font-size: 60px;
}

/* =================================== */
/* Homepage                            */
/*==================================== */

/* =================================== */
/* Styles for all items page           */
/*==================================== */

.all-items {
    background-color: #eae7dc;
    padding: 0 10px;
}

.all-items-card {
    overflow: hidden;
    border-radius: 10px;
    border: none;

    background-color: lightsalmon;

    width: 180px;
    margin-bottom: 10px;
    padding: 2px;
}

.all-items-image-container {
    overflow: hidden;
    height: 120px;
    border-radius: 10px;
}

.all-items-image {
}
